*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

#timer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-size: 20px;
    background: blue;
    color: white;
}